<div class="row">
  <div class="col">
    <img src="../../../assets/Picture1.png" class="img-fluid">
  </div>
  
  <div class="col text-center">
    <h3>Unifying St. Louis </h3>
    <hr>
    <h5>
      Parks and Recreational
      <br>
      Partnering with St. Louis Mosaic
    </h5>
  </div>

  <div class="col">
    <img src="../../../assets/Picture2.png" class="img-fluid">
  </div>
</div>

<div class="row">
  <div class="col">

    <a [routerLink]="['/login']">
    <button class="btn btn-primary">Login</button>
    </a>

  </div>
  <div class="col"> 
    <img src="../../../assets/homepage-logo_0.jpg" class="img-fluid">
  </div>
  <div class="col"> 
    
    <a [routerLink]="['/register']">
    <button class="btn btn-primary">Register</button>
    </a>

  </div>
</div>
