<div class="row mt-3 mx-1">
  <div class="col">
    <a [routerLink]="['/events']" class="btn btn-primary btn-lg btn-block">Events</a>
    <a [routerLink]="['/checkin']" class="btn btn-primary btn-lg btn-block">Check In</a>
    <a [routerLink]="['/map']" class="btn btn-primary btn-lg btn-block">Map</a>
  </div> 
  <div class="col">
    <a [routerLink]="['/messages']" class="btn btn-primary btn-lg btn-block">Messenger</a>
    <a [routerLink]="['/profile']" class="btn btn-primary btn-lg btn-block">Optional (Family Information)</a>
  </div>
</div>
